html{
    color: rgb(74, 74, 74);
    font-family: sans-serif;
}

/* navbar for desktop*/

.nav_bar, .logo title, .title, .navigations{
    display: flex;
    align-items: center;
} 

.title p{
    font-weight: bold;
}

.title span{
    color: rgb(155, 155, 155);
}

.nav_bar{
    justify-content: space-between;
    height: 4rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}

.logo{
    height: 2rem;
    margin-left: 1rem;
    height: auto;
}

.logo img{
    width: 7vh;
}

.navigations{
    margin: 0 1.5rem
}

.navigations li{
    margin: 0 0.5rem;
}

@media only screen and (min-width: 451px){
    .nav_bar_mobile{
        display: none;
    }
}

/* navbar for mobile */

@media only screen and (max-width: 450px){
    .nav_bar_desktop{
        display: none;
    }
    .nav_bar_mobile{
        padding: 0 1.5rem;
        width: -webkit-fill-available;
    }
}

/* main containers */

.main_container{
    width: 60%;
}

.main_container img{
    width: 100%;
}

/* banner */

.banner{
    padding-top: 4rem;
    display: flex;
    background-color: rgb(216, 216, 216);
}

.main_container{
    margin: 2rem 1.5rem;
}

.headers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    padding: 0 1rem;
    width: 30%;
}

.headers h1{
    margin: 2rem 0;
    font
}

.headers button{
    margin: 1.5rem 0 2rem 0;
}

.headers button{
    width: 100%;
    padding: 0.5rem 0;
    background-color: rgb(74, 74, 74);
    border: none;
    color: white;
}
/* mobile banner */

@media only screen and (max-width: 450px){
    .banner{
    display: block;
    }

    .headers{
        padding: 0 1rem;
        width: fit-content;
    }

    .main_container{
        width: 100%;
        margin: 0;
    }

    .headers button{
        background-color: rgb(155, 155, 155);
    }
}