html{
    color: rgb(74, 74, 74);
    font-family: sans-serif;
}

/* navbar for desktop*/

.nav_bar, .logo title, .title, .navigations{
    display: flex;
    align-items: center;
} 

.title p{
    font-weight: bold;
}

.title span{
    color: rgb(155, 155, 155);
}

.nav_bar{
    justify-content: space-between;
    height: 4rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}

.logo{
    height: 2rem;
    margin-left: 1rem;
    height: auto;
}

.logo img{
    width: 7vh;
}

.navigations{
    margin: 0 1.5rem
}

.navigations li{
    margin: 0 0.5rem;
}

@media only screen and (min-width: 701px){
    .nav_bar_mobile{
        display: none;
    }
}

/* navbar for mobile */

@media only screen and (max-width: 700px){
    .nav_bar_desktop{
        display: none;
    }
    .nav_bar_mobile{
        padding: 0 1.5rem;
        width: -webkit-fill-available;
    }
}

/* img containers */

.main_container{
    margin: 2rem 1.5rem;
    width: 60%;
}

.main_container img, .img_container img, .main_container video{
    width: 100%;
}

/* banner */

.banner{
    padding-top: 4rem;
    display: flex;
    background-color: rgb(216, 216, 216);
}

.headers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    padding: 0 1rem;
    width: 30%;
}

.headers h1{
    margin: 2rem 0;
}

.headers button{
    margin: 1.5rem 0 2rem 0;
}

.headers button{
    width: 100%;
    padding: 0.5rem 0;
    background-color: rgb(74, 74, 74);
    border: none;
    color: white;
}
/* mobile banner */

@media only screen and (max-width: 700px){
    .banner{
    display: block;
    }

    .headers{
        padding: 0 1rem;
        width: fit-content;
        margin: auto;
    }

    .main_container{
        width: 100%;
        margin: 0;
    }

    .headers button{
        background-color: rgb(155, 155, 155);
    }
}

/* content */

.content-h1{
    margin-top: 2rem ;
    margin-bottom: 1.5rem;
}

/* container with a side container */

.main-sidecontainers, .side-container{
    display: flex;
    background-color: rgb(243, 245, 245);
}

.side-container-img{
    width: 35%;
    padding: 1rem;
}

.side-container-img img{
    width: 100%;
    height: auto;
}

.side-container-content{
    width: 65%;
    margin: auto;
}

.side_containers{
    padding: 1rem;
    width: 40%;
}

.side-container-content a{
    color: rgb(81, 148, 227);
    width: fit-content;
}

.side-container-content p{
    margin: 0.5rem 0;
}

/* transition */

.side-container:hover{
    background-color: rgb(216, 216, 216);
}

@media only screen and (min-width: 701px){
    #img_for_mobile{
        display: none;
    }
}

/* presentation for mobile */

@media only screen and (max-width:700px){

    #img_for_desktop{
        display: none;
    }

   .presentation .main_container{
    display: none;
   }

   .side-container{
    display: block;
   }

   .campus-info{
    width: 100%;
    padding: 1rem 1rem 2rem 1rem;
   }

   .side-container-img{
    width: auto;
    padding: 0;
   }

   .side-container-content{
    margin: 0;
    width: auto;
   }

   #side-container-middle{
    margin: 4rem 0;
   }
}

/* courses */

.courses p, .courses span{
    color: rgb(118, 118, 118);
}

.courses{
    background-color: rgb(234, 235, 236);
}

.header{
    text-align: center;
    padding-top: 2rem;
}

.courses_info_desktop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 4.5rem;
}

.courses_container{
    width: 25%;
    margin: 1rem;
    background-color: rgb(255, 255, 255);
}

.info{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1.5rem 1rem;
}

.info span{
    margin: 0.5rem 0;
}

@media only screen and (min-width:701px){
    .courses-mobile{
        display: none;
    }
}

/* courses for mobile */

@media only screen and (max-width: 700px){
    .courses_info_desktop{
        display: none;
    }

    .course_info_mobile{
        padding: 1rem 1rem 1.5rem 1rem;
        background-color: rgb(216, 216, 216);
        margin: 0.5rem;
    }

    .courses{
        background-color: rgb(245, 244, 245);
    }

    .courses-mobile{
        padding-bottom: 2rem;
    }

    .header{
        padding-bottom: 1rem;
    }
}
/* thesis */

.thesis-h1{
    padding: 1rem 0;
    text-align: center;
    background-color: rgb(243, 245, 245);
}

.thesis-content-h1{
    margin: 1.5rem 0 0.5rem 0;
}

@media only screen and (max-width: 700px){

    .thesis .content, .thesis .side_containers{
        display: none;
    }

    .thesis_main_container{
        padding-bottom: 1.5rem;
    }
}